<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table.center {
  margin-left:auto;
  margin-right:auto;
}
body {
    font-family: 'Acme';font-size: 22px;
}
input[type=submit] {
    padding:5px 15px;
    background:#DAF7A6;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Acme';font-size: 22px;
}
input[type=reset] {
    padding:5px 15px;
    background:#F2F5EC;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Acme';font-size: 22px;
}
</style>
</head>
    <body bgcolor= #7EDAFF>
        <div style="text-align: center;">
        <h1> PRICE PREDICTION </h1><br>
        <form method="POST", action="{{url_for('home')}}">
           <table class="center" style="height:400px;font-size:100%">
               <tr>
                   <td>
                       <b> curb-weight : </b>
                   </td>
                   <td>
                       <input type="number", name='curb-weight', placeholder="enter a value [1400 - 4100]", min="1400" max="4100" step="1" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> engine-size : </b>
                   </td>
                   <td>
                       <input type="number", name='engine-size', placeholder="enter a value [50 - 350]", min="50" max="350" step="1" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> length : </b>
                   </td>
                   <td>
                       <input type="number", name='length', placeholder="enter a value [0.678 - 1.0]", min="0.6780" max="1.0" step="any" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> width : </b>
                   </td>
                   <td>
                       <input type="number", name='width', placeholder="enter a value [0.8374 - 1.0]", min="0.8374" max="1" step="any" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> horsepower : </b>
                   </td>
                   <td>
                       <input type="number", name='horsepower', placeholder="enter a value [48 - 262]", min="48" max="262" step="1" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> city-mpg : </b>
                   </td>
                   <td>
                       <input type="number", name='city-mpg', placeholder="enter a value [13 - 49]", min="13" max="49" step="1" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> highway-mpg : </b>
                   </td>
                   <td>
                       <input type="number", name='highway-mpg', placeholder="enter a value [16 - 54]", min="16" max="54" step="1" style="width: 14em;">
                   </td>
               </tr>
               <tr>
                   <td>
                       <b> wheel-base : </b>
                   </td>
                   <td>
                       <input type="number", name='wheel-base', placeholder="enter a value [86.6 - 120.9]", min="86.6" max="120.9" step="0.1" style="width: 14em;">
               </tr>
               <tr>
                   <td>
                       <b> bore : </b>
                   </td>
                   <td>
                       <input type="number", name='bore', placeholder="enter a value [2.54 - 3.94]", min="2.54" max="3.94" step="0.01" style="width: 14em;">
                   </td>
               </tr>
           </table>
        <input type="submit" , value='Predict!'>
        <input type="reset" , value='Reset!'>
        </form>
    </div>
    </body>
</html>
